.Calculations {
  display: flex;
  border: 3px solid red;
  flex-direction: column;
  text-align: center;
  flex: 1;
  margin-right: 100px;
  align-content: center;
  h1 {
    color: antiquewhite;
    font-weight: bold;
    font-size: 3em;
    margin-bottom: 0;
    }  
}

.calculations-select {
  align-self: center;
}