.Last20Days {
  text-align: center;
  margin: auto;
  h2 {
    font-weight: bold;
    text-decoration: underline;
  }
}

.last-20-card {
  border-radius: 15%;
  // box-shadow: 5px 5px;
  max-width: 100%;
  align-self: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
}