.FiveDayView {
  h2 {
  color: antiquewhite;
  font-weight: bold;
  font-size: 3em;
  margin-bottom: 0;
  }
}

.drive-card {
  box-shadow: 10px 10px;
  margin-bottom: 20px;
  .edit-btn {
    margin-right: 5px;
  }
}

.edit-btn {
  width: 30%;
}
.delete-btn {
  width: 30%;
}